################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CreteElementAndWriteDB/bin/Debug
/CreteElementAndWriteDB/obj/Debug
/CreteElementAndWriteDB/Properties
/Kladr/bin/Debug
/Kladr/obj/Debug
/Kladr/Properties
/packages
/Reference/obj/Debug
/Reference
